<!-- Jquery Core Js -->
<script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

<script src="/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
<script src="/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
<script src="/assets/bundles/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js --> 
<script src="/assets/bundles/sparkline.bundle.js"></script> <!-- sparkline Plugin Js --> 
<script src="/assets/bundles/doughnut.bundle.js"></script>

<script src="/assets/bundles/mainscripts.bundle.js"></script>
<script src="/assets/js/pages/index.js"></script>

 


<script src="/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script> <!-- Bootstrap Notify Plugin Js -->

<script src="/assets/js/pages/ui/notifications.js"></script> <!-- Custom Js -->



<script>
    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }


    function getdashboard(){
        document.getElementById('dashboard_btn').click();
    }
    function getallclips(){
        document.getElementById('getallclips_btn').click();
    }

    function getpinclips(){
        document.getElementById('getpinclips_btn').click();
    }

    function getdevices(){
        document.getElementById('getdevices_btn').click();
    }

    function getPlans(){
        document.getElementById('getplans_btn').click();
    }

    function getPayHistory(){
        document.getElementById('getpayhistory_btn').click();
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {   
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }


</script>
</body>
</html>