<!doctype html>
<html class="no-js " lang="en">
<head>
<meta charset="utf-8">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge"> -->
<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">  -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
<title>Magic Copy</title>
<link rel="icon" href="/images/new_logo.png" type="image/x-icon"> <!-- Favicon-->
<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/plugins/morrisjs/morris.css" />
<link rel="stylesheet" href="/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
<!-- Custom Css -->
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/inbox.css">
<link rel="stylesheet" href="/assets/css/color_skins.css">
<script data-ad-client="ca-pub-4794193283829937" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="./script.js" defer></script>


<style>
    .pri-text:after {
    content: "";
    background-color: #e9eef6;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 1px;
    border-radius: 100%;
    }

    .packageFreturesWhite{
        color: #6f6d6d;
        padding-bottom: 0px !important;
    }
    .packageFreturesDark{
        color: #ffffff;
        padding-bottom: 0px !important;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
        backdrop-filter: blur(2px);
    }

</style>