<aside class="right_menu" style="overflow-y: hidden !important;overflow-x: hidden !important;overflow-anchor: none;">
   
    <div id="leftsidebar" class="sidebar" style="top: 55px;background: white;">
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="user-info m-b-20">
                        <div class="image">
                            <a href="profile.html"><img src="assets/images/profile_av.jpg" alt="User"></a>
                        </div>
                        <div class="detail">
                            <h6>Michael</h6>
                            <p class="m-b-0">Username@gmail.com</p>                                                     
                        </div>
                    </div>
                </li>
                <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block"><i class="zmdi zmdi-copy"></i><span>Clips</span> <span class="badge badge-success float-right">7</span></a>
                    <ul class="ml-menu" style="display: none;">
                        <li><a href="" class=" waves-effect waves-block">All Clips</a></li>
                        <li><a href="" class=" waves-effect waves-block">Favorite Clips</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block"><i class="zmdi zmdi-settings zmdi-hc-spin"></i><span>Control Center</span> <span class="badge badge-success float-right">7</span></a>
                    <ul class="ml-menu" style="display: none;">
                        <li><a href="" class=" waves-effect waves-block">Subscriptions</a></li>
                        <li><a href="" class=" waves-effect waves-block">Devices</a></li>
                        <li><a href="" class=" waves-effect waves-block">Password Change</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>