<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar" style="    padding: 0px 0px !important;">
    <div class="container" style=" width: 100%; max-width: unset; ">
        <a href="layout-1.html" class="navbar-brand me-5">
                <img src="images/logo-dark.png" class="logo-dark" alt="" height="32"  />
            </a>
        <a href="javascript:void(0)" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-icon"><i data-feather="menu"></i></span>
            </a>

        <div class="collapse navbar-collapse" style=" flex-grow: inherit; " id="navbarNav">
            <ul class="navbar-nav navbar-center me-auto mt-lg-0 mt-2">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#feature">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#faq">Faq</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">About us</a>
                </li>
            </ul>
            <div class="mb-4 mb-lg-0">
                <a href="#getApps" class="btn btn-sm  btn-primary mb-4 mb-lg-0 ms-auto" style="border: 1px solid #69C702; background-color: #fff !important; color: #69C702 !important;" >Join</a>
                <a href="/login" class="btn btn-sm nav-btn btn-primary mb-4 mb-lg-0 ms-auto" >Portal</a>
            </div>
        </div>
    </div>
    <!-- end container -->
</nav>