<%- include('includes/header.ejs'); %>
<%- include('includes/nav.ejs'); %>

<section class="content home" style="z-index: 3;">
    <input id="deviceidx" name="DeviceIDx" value="DeviceIDx" hidden>
    <div class="container-fluid">

    <div id="HeadderPanel">
        <div class="block-header" >
        <div class="row clearfix">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>Reset Password</h2>
                <ul class="breadcrumb padding-0">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i></a></li>
                    <li class="breadcrumb-item active">Reset Password</li>
                </ul>
            </div>            
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="input-group m-b-0">                
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    </div>    

    </div>
</section>

<script src="/assets/bundles/libscripts.bundle.js"></script> 
<script src="/assets/bundles/vendorscripts.bundle.js"></script> 
<script src="/assets/bundles/mainscripts.bundle.js"></script>

<script>
    function loadme(){
        if("<%= details.plan.webPortal %>"=="YES"){
           document.getElementById('HeadderPanel').style.display='block'; 
           document.getElementById('lockedpanel').style.display='none';        
        }else{
           document.getElementById('HeadderPanel').style.display='none'; 
            document.getElementById('lockedpanel').style.display='block'; 
        }
    }

</script>


<%- include('includes/footer.ejs'); %>

