<!DOCTYPE html>
<!-- OLMO - Software, App, SaaS & Startup Landing Pages Pack design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="Magic Copy" />
	<meta name="description" content="#1 Simplest and Safest Cross Platform Clipboard App. Get started for free!" />
	<meta name="keywords"
		content="magic copy, magic copy app, magic copy, universal clipboard, clipboard manager, clipboard manager app, cross platform copy app, copy from pc to mobile, copy from mobile to pc, airdroid, pushbullet, push bullet, copy from device to device">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- SITE TITLE -->
	<title>Magic Copy - Safe and Easy Notes and Clipboard App</title>

	<!-- FAVICON AND TOUCH ICONS -->
	<link rel="shortcut icon" href="landing/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="landing/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="152x152" href="landing/images/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="120x120" href="landing/images/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="landing/images/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" href="landing/images/apple-touch-icon.png">
	<link rel="icon" href="landing/images/apple-touch-icon.png" type="image/x-icon">

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">

	<!-- BOOTSTRAP CSS -->
	<link href="landing/css/bootstrap.min.css" rel="stylesheet">

	<!-- FONT ICONS -->
	<link href="landing/css/flaticon.css" rel="stylesheet">

	<!-- PLUGINS STYLESHEET -->
	<link href="landing/css/menu.css" rel="stylesheet">
	<link id="effect" href="landing/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
	<link href="landing/css/magnific-popup.css" rel="stylesheet">
	<link href="landing/css/owl.carousel.min.css" rel="stylesheet">
	<link href="landing/css/owl.theme.default.min.css" rel="stylesheet">

	<!-- ON SCROLL ANIMATION -->
	<link href="landing/css/animate.css" rel="stylesheet">

	<!-- TEMPLATE CSS -->
	<link href="landing/css/style.css" rel="stylesheet">

	<!-- RESPONSIVE CSS -->
	<link href="landing/css/responsive.css" rel="stylesheet">

</head>



<body>





	<!-- PAGE CONTENT
		============================================= -->
	<div id="page" class="page">




		<!-- HEADER
			============================================= -->
		<header id="header" class="header tra-menu navbar-light">
			<div class="header-wrapper">


				<!-- MOBILE HEADER -->
				<div class="wsmobileheader clearfix">
					<span class="smllogo"><img src="https://i.ibb.co/g716Yqc/magic-copy-app-logo.png"
							alt="mobile-logo" /></span>
					<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
				</div>


				<!-- NAVIGATION MENU -->
				<div class="wsmainfull menu clearfix">
					<div class="wsmainwp clearfix">


						<!-- HEADER LOGO -->
						<div class="desktoplogo"><a href="" class="logo-black"><img
									src="https://i.ibb.co/g716Yqc/magic-copy-app-logo.png" alt="header-logo"></a></div>
						<div class="desktoplogo"><a href="" class="logo-white"><img
									src="https://i.ibb.co/c60BRHC/magic-copy-logo-white-3.png" alt="header-logo"></a>
						</div>


						<!-- MAIN MENU -->
						<nav class="wsmenu clearfix">
							<ul class="wsmenu-list nav-violet-red-hover">

								<!-- SIMPLE NAVIGATION LINK -->
								<li class="nl-simple" aria-haspopup="true"><a href="#features">Features</a></li>

								<li class="nl-simple" aria-haspopup="true"><a href="#pricing">Pricing</a></li>

								<!-- SIMPLE NAVIGATION LINK -->
								<li class="nl-simple" aria-haspopup="true"><a href="#faq">FAQs</a></li>


								<% if(current_user){ %>
									<li class="nl-simple" aria-haspopup="true">
										<a href="/dashboard" class="btn btn-tra-white last-link">Dashboard</a>
									</li>
								<% } else{ %>
									<li class="nl-simple" aria-haspopup="true">
										<a href="/auth/login" class="btn btn-tra-white last-link">Login</a>
									</li>
	
									<!-- HEADER BUTTON -->
									<li class="nl-simple" aria-haspopup="true">
										<a href="/auth/register" class="btn btn-white last-link" style="color: #000">Create
											account</a>
									</li>
								<% } %>

							</ul>
						</nav> <!-- END MAIN MENU -->
					</div>
				</div> <!-- END NAVIGATION MENU -->


			</div> <!-- End header-wrapper -->
		</header> <!-- END HEADER -->




		<!-- HERO-2
			============================================= -->
		<section id="hero-2" class="bg-scroll hero-section division">
			<div class="container">
				<div class="row d-flex align-items-center">


					<!-- HERO IMAGE -->
					<div class="col-md-5 col-lg-6 order-last order-md-2">
						<div class="hero-2-img pc-30 wow fadeInRight">
							<img class="img-fluid" src="https://i.ibb.co/4tHGC0p/Group-2731-1-2.png" alt="hero-image">
						</div>
					</div>


					<!-- HERO TEXT -->
					<div class="col-md-7 col-lg-6 order-first order-md-2">
						<div class="hero-2-txt white-color wow fadeInLeft">

							<!-- Title -->
							<h2 class="h2-xl">Copy stuff between your phone and PC Blazing Fast</h2>

							<!-- Text -->
							<p class="p-xl">Magic Copy makes it easy for you to manage all your favorite text and links
								and share them across any of your devices or online
							</p>

							<!-- STORE BADGES -->
							<div class="stores-badge">

								<!-- AppStore -->
								<a href="https://apps.apple.com/us/app/magic-copy/id1444438065" target="_blank"
									class="store">
									<img class="appstore" src="landing/images/appstore.png" alt="appstore-badge" />
								</a>

								<!-- Google Play -->
								<a href="https://play.google.com/store/apps/details?id=com.app360.magiccopy"
									target="_blank" class="store">
									<img class="googleplay" src="landing/images/googleplay.png" alt="googleplay-badge" />
								</a>

								<!-- Mac AppStore -->
								<a href="https://apps.apple.com/us/app/magic-copy/id1434526691" class="store"
									target="_blank">
									<img class="mac-appstore" src="landing/images/macstore.png" alt="macstore-badge" />
								</a>

								<!-- Microsoft Store  -->
								<a href="/Windows" class="store">
									<img class="microsoft" src="https://i.ibb.co/tsJgDG8/Group-5-1.png" target="_blank"
										alt="microsoft-badge" />
								</a>
								<!-- Amazon Store  -->
								<a href="http://www.amazon.com/gp/mas/dl/android?p=com.app360.magiccopy" class="store">
									<img class="Amazon" src="https://i.ibb.co/tsJgDG8/Group-5-1.png" target="_blank"
										alt="amazon-badge" />
								</a>

							</div> <!-- END STORE BADGES -->

						</div>
					</div> <!-- END HERO TEXT -->


				</div> <!-- End row -->
			</div> <!-- End container -->


			<!-- WAVE SHAPE BOTTOM -->
			<div class="wave-shape-bottom">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 285">
					<path fill="#ffffff" fill-opacity="1"
						d="M0,128L80,149.3C160,171,320,213,480,240C640,267,800,277,960,277.3C1120,277,1280,267,1360,261.3L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
					</path>
				</svg>
			</div>


		</section> <!-- END HERO-2 -->


		<!-- BRANDS-1
			============================================= -->
		<div id="brands-1" class="wide-100 brands-section division">
			<div class="container">
				<div class="row">
					<div class="col text-center">


						<!-- Brands Carousel -->
						<div class="owl-carousel brands-carousel">

							<!-- Brand Logo Image -->
							<div class="brand-logo">
								<img class="img-fluid" src="https://i.ibb.co/JHYtF2d/3.png" alt="brand-logo" />
							</div>

							<!-- Brand Logo Image -->
							<div class="brand-logo">
								<img class="img-fluid" src="https://i.ibb.co/q1PQFTf/client-1.png" alt="brand-logo" />
							</div>

							<!-- Brand Logo Image -->
							<div class="brand-logo">
								<img class="img-fluid" src="https://i.ibb.co/rw3j3Sd/client-2.png" alt="brand-logo" />
							</div>

							<!-- Brand Logo Image -->
							<div class="brand-logo">
								<img class="img-fluid" src="https://i.ibb.co/d2V3wNn/image-15.png" alt="brand-logo" />
							</div>

							<!-- Brand Logo Image -->
							<div class="brand-logo">
								<img class="img-fluid" src="https://i.ibb.co/8DYNNBT/image-14.png" alt="brand-logo">
							</div>

							<!-- Brand Logo Image -->
							<div class="brand-logo">
								<img class="img-fluid" src="https://i.ibb.co/m5wwJCf/4.png" alt="brand-logo" />
							</div>

							<!-- Brand Logo Image -->
							<div class="brand-logo">
								<img class="img-fluid" src="https://i.ibb.co/JHYtF2d/3.png" alt="brand-logo" />
							</div>

							<!-- Brand Logo Image -->
							<div class="brand-logo">
								<img class="img-fluid" src="https://i.ibb.co/q1PQFTf/client-1.png" alt="brand-logo" />
							</div>

							<!-- Brand Logo Image -->
							<div class="brand-logo">
								<img class="img-fluid" src="https://i.ibb.co/rw3j3Sd/client-2.png" alt="brand-logo" />
							</div>

						</div> <!-- End Brands Carousel -->


					</div>
				</div> <!-- End row -->
			</div> <!-- End container -->
		</div> <!-- END BRANDS-1 -->

		<!-- STATISTIC-2
			============================================= -->
		<section id="statistic-2" class="wide-60 statistic-section division">
			<div class="container">
				<div class="row d-flex align-items-center">


					<!-- TEXT BLOCK -->
					<div class="col-lg-6">
						<div class="txt-block right-column mb-40 wow fadeInLeft">
							<h3 class="h3-xs">More than 165,000 users around the world are using Magic Copy since 2018
							</h3>
						</div>
					</div>


					<!-- STATISTIC BLOCK #1 -->
					<div class="col-sm-5 col-md-4 col-lg-3 offset-sm-1 offset-md-2 offset-lg-1">
						<div class="statistic-block wow fadeInUp">

							<!-- Text -->
							<h2 class="h2-title-xs statistic-number"><span class="count-element">165000</span>+</h2>
							<p class="p-lg mt-20">Active app users</p>

						</div>
					</div>


					<!-- STATISTIC BLOCK #2 -->
					<div class="col-sm-5 col-md-4 col-lg-2">
						<div class="statistic-block wow fadeInUp">

							<!-- Text -->
							<h2 class="h2-title-xs statistic-number">
								<span class="count-element">4</span>.<span class="count-element">7</span>
							</h2>

							<!-- Rating -->
							<div class="txt-block-rating ico-15 yellow-color">
								<span class="flaticon-star-1"></span>
								<span class="flaticon-star-1"></span>
								<span class="flaticon-star-1"></span>
								<span class="flaticon-star-1"></span>
								<span class="flaticon-star-half-empty"></span>
							</div>

							<p class="p-lg txt-400">Average App Rating</p>
						</div>
					</div>


				</div> <!-- End row -->
			</div> <!-- End container -->
		</section> <!-- END STATISTIC-2 -->


		<!-- FEATURES-4
			============================================= -->
		<section class="wide-60 features-section division">
			<div class="container">


				<!-- SECTION TITLE -->
				<div class="row justify-content-center">
					<div class="col-lg-10 col-xl-8">
						<div class="section-title title-01 mb-70">

							<!-- Title -->
							<h2 class="h3-md">Imagine if you could copy something from your PC and paste it on your
								Phone?
							</h2>

							<!-- Text -->
							<p class="p-xl">Magic Copy manages a realtime clipboard. When you paste a link, text or file
								(coming soon!), it automatically syncs it with your other devices
							</p>

						</div>
					</div>
				</div>


				<!-- FEATURES-4 WRAPPER -->
				<div class="fbox-4-wrapper">
					<div class="row row-cols-1 row-cols-md-2">


						<!-- FEATURE BOX #1 -->
						<div class="col">
							<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

								<!-- Icon -->
								<div class="fbox-ico">
									<div class="ico-60 shape-ico violet-red-color">
										<img class="ico-bkg" src="landing/images/ico-bkg.png" alt="ico-bkg">
										<span class="flaticon-double-click"></span>
									</div>
								</div>

								<!-- Text -->
								<div class="fbox-txt">

									<!-- Title -->
									<h5 class="h5-md">Available everywhere</h5>

									<!-- Text -->
									<p class="p-lg">You can find Magic Copy on all the popular platforms like iOS,
										Android, Windows, OSX, Web and soon to be launched - Linux!
									</p>

								</div>

							</div>
						</div>


						<!-- FEATURE BOX #2 -->
						<div class="col">
							<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

								<!-- Icon -->
								<div class="fbox-ico">
									<div class="ico-60 shape-ico violet-red-color">
										<img class="ico-bkg" src="landing/images/ico-bkg.png" alt="ico-bkg">
										<span class="flaticon-folder-3"></span>
									</div>
								</div>

								<!-- Text -->
								<div class="fbox-txt">

									<!-- Title -->
									<h5 class="h5-md">Realtime data sync</h5>

									<!-- Text -->
									<p class="p-lg">Instantly syncs your data across your selected devices
									</p>

								</div>

							</div>
						</div>


						<!-- FEATURE BOX #3 -->
						<div class="col">
							<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

								<!-- Icon -->
								<div class="fbox-ico">
									<div class="ico-60 shape-ico violet-red-color">
										<img class="ico-bkg" src="landing/images/ico-bkg.png" alt="ico-bkg">
										<span class="flaticon-puzzle"></span>
									</div>
								</div>

								<!-- Text -->
								<div class="fbox-txt">

									<!-- Title -->
									<h5 class="h5-md">Secure Storage</h5>

									<!-- Text -->
									<p class="p-lg">Your data is encrypted and stored securely
									</p>

								</div>

							</div>
						</div>


						<!-- FEATURE BOX #4 -->
						<div class="col">
							<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

								<!-- Icon -->
								<div class="fbox-ico">
									<div class="ico-60 shape-ico violet-red-color">
										<img class="ico-bkg" src="landing/images/ico-bkg.png" alt="ico-bkg">
										<span class="flaticon-share"></span>
									</div>
								</div>

								<!-- Text -->
								<div class="fbox-txt">

									<!-- Title -->
									<h5 class="h5-md">Auto/Manual Sync</h5>

									<!-- Text -->
									<p class="p-lg">You can choose how you want your data to be synced. It can sync it
										automatically or wait for your command
									</p>

								</div>

							</div>
						</div>


						<!-- FEATURE BOX #5 -->
						<div class="col">
							<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

								<!-- Icon -->
								<div class="fbox-ico">
									<div class="ico-60 shape-ico violet-red-color">
										<img class="ico-bkg" src="landing/images/ico-bkg.png" alt="ico-bkg">
										<span class="flaticon-server-1"></span>
									</div>
								</div>

								<!-- Text -->
								<div class="fbox-txt">

									<!-- Title -->
									<h5 class="h5-md">Note taking</h5>

									<!-- Text -->
									<p class="p-lg">Comes with a simple note taking feature that works in realtime as
										well
									</p>

								</div>

							</div>
						</div>


						<!-- FEATURE BOX #6 -->
						<div class="col">
							<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

								<!-- Icon -->
								<div class="fbox-ico">
									<div class="ico-60 shape-ico violet-red-color">
										<img class="ico-bkg" src="landing/images/ico-bkg.png" alt="ico-bkg">
										<span class="flaticon-shield"></span>
									</div>
								</div>

								<!-- Text -->
								<div class="fbox-txt">

									<!-- Title -->
									<h5 class="h5-md">Smart Scanner</h5>

									<!-- Text -->
									<p class="p-lg">Point your camera at anything with text on it and Magic Copy will
										read it and save it as a note
									</p>

								</div>

							</div>
						</div>


					</div>
				</div> <!-- END FEATURES-4 WRAPPER -->


			</div> <!-- End container -->
		</section> <!-- END FEATURES-4 -->


		<section id="hero-14" class="bg-fixed hero-section division"
			style="background-image: url('https://i.ibb.co/V9SX5VN/pexels-fauxels-3183183-2.jpg');">
			<div class="container">
				<div class="row d-flex align-items-center">


					<!-- HERO TEXT -->
					<div class="col-sm-9 col-md-7 col-lg-5">
						<div class="hero-14-txt white-color wow fadeInRight">

							<!-- Title -->
							<h2 class="h3-xl">Your data is encrypted and securely synced in realtime</h2>

							<!-- Text -->
							<p class="p-xl">You are in control of your data. Delete them completely from the database.
								You can manage which devices can access your data.
							</p>

						</div>
					</div> <!-- END HERO TEXT -->


				</div> <!-- End row -->
			</div> <!-- End container -->
		</section>


		<!-- CONTENT-5
			============================================= -->
		<section id="content-5" class="content-5 ws-wrapper content-section division">
			<div class="container">
				<div class="content-5-wrapper bg-whitesmoke">
					<div class="row d-flex align-items-center">


						<!-- TEXT BLOCK -->
						<div class="col-md-7 col-lg-6">
							<div class="txt-block left-column wow fadeInRight">

								<!-- Title -->
								<h2 class="h2-xs">Simply install Magic Copy on all your devices</h2>

								<!-- List -->
								<ul class="simple-list">

									<li class="list-item">
										<p class="p-lg">Your last copied text on your device will be available to be
											shared
										</p>
									</li>

									<li class="list-item">
										<p class="p-lg">When you open Magic Copy on another device, the copied data will
											be waiting for you there</p>
									</li>

								</ul>

							</div>
						</div> <!-- END TEXT BLOCK -->


						<!-- IMAGE BLOCK -->
						<div class="col-md-5 col-lg-6">
							<div class="img-block right-column wow fadeInLeft">
								<img class="img-fluid" src="https://i.ibb.co/9wxLcnt/Group-2728-1-1.png"
									alt="content-image">
							</div>
						</div>


					</div>
				</div> <!-- End row -->
			</div> <!-- End container -->
		</section> <!-- END CONTENT-5 -->


		<section id="features" class="wide-60 features-section division">
			<div class="container">


				<!-- SECTION TITLE -->
				<div class="row justify-content-center">
					<div class="col-lg-10 col-xl-8">
						<div class="section-title title-01 mb-70">

							<!-- Title -->
							<h2 class="h2-md">Use it for your work, studies, groceries, notes, or anything!</h2>

							<!-- Text -->
							<p class="p-xl">Magic Copy is a multi-purpose tool. Think of it like a Swiss Army Knife, but
								for data management across your smart devices. Here are some of the top features
							</p>

						</div>
					</div>
				</div>


				<!-- FEATURES-8 WRAPPER -->
				<div class="fbox-8-wrapper text-center">
					<div class="row row-cols-1 row-cols-md-3">


						<!-- FEATURE BOX #1 -->
						<div class="col">
							<div class="fbox-8 mb-40 wow fadeInUp">

								<!-- Image -->
								<div class="fbox-img bg-whitesmoke-gradient">
									<img class="img-fluid" src="https://i.ibb.co/LdRqPT0/Webp-net-resizeimage-2-1.png"
										alt="feature-icon" />
								</div>

								<!-- Title -->
								<h5 class="h5-md">Grab text from pictures</h5>

								<!-- Text -->
								<p class="p-lg">Point your camera at anything with text on it and Magic Copy will grab
									the text from it
								</p>

							</div>
						</div>


						<!-- FEATURE BOX #2 -->
						<div class="col">
							<div class="fbox-8 mb-40 wow fadeInUp">

								<!-- Image -->
								<div class="fbox-img bg-whitesmoke-gradient">
									<img class="img-fluid" src="https://i.ibb.co/RD8dkWj/Group-1-2-1.png"
										alt="feature-icon" />
								</div>

								<!-- Title -->
								<h5 class="h5-md">Bookmark Favorites</h5>

								<!-- Text -->
								<p class="p-lg">Access your most important or frequently used clips separately
								</p>

							</div>
						</div>


						<!-- FEATURE BOX #3 -->
						<div class="col">
							<div class="fbox-8 mb-40 wow fadeInUp">

								<!-- Image -->
								<div class="fbox-img bg-whitesmoke-gradient">
									<img class="img-fluid" src="https://i.ibb.co/JQX3rXw/Group-2-1.png"
										alt="feature-icon" />
								</div>

								<!-- Title -->
								<h5 class="h5-md">Category Organize (Coming Soon)</h5>

								<!-- Text -->
								<p class="p-lg">You can organize your clipboard with different categories and lists
								</p>

							</div>
						</div>

						<!-- FEATURE BOX #3 -->
						<div class="col">
							<div class="fbox-8 mb-40 wow fadeInUp">

								<!-- Image -->
								<div class="fbox-img bg-whitesmoke-gradient">
									<img class="img-fluid" src="https://i.ibb.co/kBfnMnG/Screenshot-33-1-2-1.png"
										alt="feature-icon" />
								</div>

								<!-- Title -->
								<h5 class="h5-md">Note Editor</h5>

								<!-- Text -->
								<p class="p-lg">You can edit your clips and data anytime with the integrated note editor
								</p>

							</div>
						</div>

						<!-- FEATURE BOX #3 -->
						<div class="col">
							<div class="fbox-8 mb-40 wow fadeInUp">

								<!-- Image -->
								<div class="fbox-img bg-whitesmoke-gradient">
									<img class="img-fluid" src="https://i.ibb.co/2gJczjG/Screenshot-31-1-5-1.png"
										alt="feature-icon" />
								</div>

								<!-- Title -->
								<h5 class="h5-md">Desktop Sidebar</h5>

								<!-- Text -->
								<p class="p-lg">Organize your desktop windows better with a non-intrusive sidebar for
									easy access
								</p>

							</div>
						</div>

						<!-- FEATURE BOX #3 -->
						<div class="col">
							<div class="fbox-8 mb-40 wow fadeInUp">

								<!-- Image -->
								<div class="fbox-img bg-whitesmoke-gradient">
									<img class="img-fluid" src="https://i.ibb.co/NKcVVTh/Group-7-3-1.png"
										alt="feature-icon" />
								</div>

								<!-- Title -->
								<h5 class="h5-md">Mobile Widgets (Coming soon)</h5>

								<!-- Text -->
								<p class="p-lg">Add a widget to your mobile home screen for easy copying and pasting
								</p>

							</div>
						</div>


					</div> <!-- End row -->
				</div> <!-- END FEATURES-8 WRAPPER -->


			</div> <!-- End container -->
		</section>

		<section id="content-7" class="content-7 bg-whitesmoke wide-60 content-section division">
			<div class="container">
				<div class="row d-flex align-items-center">


					<!-- TEXT BLOCK -->
					<div class="col-md-6 order-last order-md-2">
						<div class="txt-block left-column wow fadeInLeft">

							<!-- TEXT BOX -->
							<div class="txt-box mb-25">

								<!-- Title -->
								<h5 class="h5-lg">Full-fledged Web Portal</h5>

								<!-- Text -->
								<p class="p-lg">Not just apps, Magic Copy is also available as a Web Application. Access
									it from any browser even if you don't have any desktop apps installed.
								</p>

								<a href="https://www.producthunt.com/posts/magic-copy?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-magic-copy"
									target="_blank"><img
										src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=141996&theme=light"
										alt="Magic Copy - Magically share text & links across your devices ✨ | Product Hunt"
										style="width: 250px; height: 54px;" width="250" height="54" /></a>

								<a href="https://www.producthunt.com/posts/magic-copy?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-magic-copy"
									target="_blank"><img
										src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=141996&theme=dark&period=daily"
										alt="Magic Copy - Magically share text & links across your devices ✨ | Product Hunt"
										style="width: 250px; height: 54px;" width="250" height="54" /></a>
							</div>


						</div>
					</div> <!-- END TEXT BLOCK -->


					<!-- IMAGE BLOCK -->
					<div class="col-md-6 order-first order-md-2">
						<div class="content-7-img wow fadeInRight">
							<img class="img-fluid" src="https://i.imgur.com/ObEQv7g.png" alt="content-image">
						</div>
					</div>


				</div> <!-- End row -->
			</div> <!-- End container -->
		</section>

		<!-- TESTIMONIALS-4
			============================================= -->
		<section id="reviews" class="rel pt-100 reviews-section division">


			<!-- SECTION TITLE -->
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10 col-xl-8">
						<div class="section-title title-01 mb-60">

							<!-- Title -->
							<h2 class="h2-md">Reviews From Our Users</h2>

							<!-- Text -->
							<p class="p-xl">These are some of the reviews Magic Copy has received over the years!
							</p>

						</div>
					</div>
				</div>
			</div>


			<div class="reviews-4-holder">
				<div class="container">
					<div class="row">

						<!-- TESTIMONIALS CAROUSEL -->
						<div class="col-md-12">
							<div class="owl-carousel owl-theme reviews-4-wrapper">


								<!-- TESTIMONIAL #5 -->
								<div class="review-4">

									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">Genius product that solves a real problem. I HATE having to text
											my friends links and text I want to use on my phone. This app solves this
											for me.
										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://ph-avatars.imgix.net/926667/original?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=170&h=170&fit=crop&dpr=1"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">Sergio Mattei
												</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div> <!-- END TESTIMONIAL #5 -->

								<!-- TESTIMONIAL #1 -->
								<div class="review-4">


									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">I was looking for something like this and I really needed
											exactly this. I tried win 10 inbuilt cloud clipboard and it was messy. Also
											it was only for pc not mobile. Yours servicw is great and u love it . It is
											free and I do not know how you maintain god bless you....
										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://play-lh.googleusercontent.com/a-/AOh14Gh2qq6b2MG0-z-R_QE5GGIXDwTNj2_L5obCDE6B=w150-h150-n-rw"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">
													Sathvik Malgikar</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div> <!-- END TESTIMONIAL #1 -->

								<div class="review-4">

									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">OMG, I've been dreaming a universal clipboard that runs
											cross-platform. Thank you for making this.

										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://ph-avatars.imgix.net/736137/original?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=170&h=170&fit=crop&dpr=1"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">Jake Tran
												</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-half-empty"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div>

								<div class="review-4">

									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">It's just absolutely awesome! 🔥
										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://ph-avatars.imgix.net/329342/original?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=170&h=170&fit=crop&dpr=1"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">Dima Braven
												</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div>

								<!-- TESTIMONIAL #2 -->
								<div class="review-4">

									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">I have utilized several similar apps to that of yours. No
											comparison. I use it most of the day in the research I do, and it has not
											failed me yet. Guys, this is THE app. Thank you. All the best in future.
										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://play-lh.googleusercontent.com/a/AATXAJwbT7G0rSgsj_09XBdxiYt-IP7KkZES23bJy4yT=w150-h150-n-rw-mo"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">Michael Chussid</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-half-empty"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div> <!-- END TESTIMONIAL #2 -->


								<!-- TESTIMONIAL #3 -->
								<div class="review-4">

									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">I was looking for a multi platform clipboard synchronizer & this
											hit the spot! Great app devs!
										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://play-lh.googleusercontent.com/a-/AOh14GgKlwP8q57Vax9H1z0xWc_QT5HfKYNmB_yFP87XOA=w150-h150-n-rw"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">Jody Davis</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div> <!-- END TESTIMONIAL #3 -->

								<!-- TESTIMONIAL #6 -->
								<div class="review-4">

									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">Definitely had this problem, thanks for the solution! Great that
											you have it across the platforms too with support for Windows + Mac!
										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://ph-avatars.imgix.net/309280/original?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=170&h=170&fit=crop&dpr=1"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">Graeme</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-half-empty"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div> <!-- END TESTIMONIAL #6 -->


								<!-- TESTIMONIAL #7 -->
								<div class="review-4">

									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">I can see me using this quite often from now on. Genius product
											built!
										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://ph-avatars.imgix.net/805282/original?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=170&h=170&fit=crop&dpr=1"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">Gene Lim
												</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-half-empty"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div> <!-- END TESTIMONIAL #7 -->


								<!-- TESTIMONIAL #8 -->
								<div class="review-4">

									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">What a fantastic product! I can't wait to use this instead of
											trying to find links I sent James on Telegram 😅
										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://ph-avatars.imgix.net/177115/original?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=170&h=170&fit=crop&dpr=1"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">Danielle Johnson
												</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-half-empty"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div> <!-- END TESTIMONIAL #8 -->

								<!-- TESTIMONIAL #4 -->
								<div class="review-4">

									<!-- Text -->
									<div class="review-4-txt">

										<!-- Text -->
										<p class="p-lg">Really useful app. Love this app
										</p>

										<!-- Testimonial Author -->
										<div class="author-data clearfix">

											<!-- Testimonial Avatar -->
											<div class="review-avatar">
												<img src="https://play-lh.googleusercontent.com/a-/AOh14Gh8NzP34jl059918wUbR7r9z43Fks_AJjELwttPKA=w150-h150-n-rw"
													alt="review-avatar">
											</div>

											<!-- Testimonial Author -->
											<div class="review-author">

												<h6 class="h6-xl">Kamal Perera</h6>

												<!-- Rating -->
												<div class="review-rating ico-15 yellow-color">
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-1"></span>
													<span class="flaticon-star-half-empty"></span>
												</div>

											</div>

										</div> <!-- End Testimonial Author -->

									</div> <!-- End Text -->

								</div> <!-- END TESTIMONIAL #4 -->


							</div>
						</div> <!-- END TESTIMONIALS CAROUSEL -->


					</div>
				</div> <!-- End container -->
			</div>


		</section> <!-- END TESTIMONIALS-4 -->

		<!-- PRICING-3
			============================================= -->
		<section id="pricing" class="bg-lightgrey wide-60 pricing-section division">
			<div class="container">


				<!-- SECTION TITLE -->
				<div class="row justify-content-center">
					<div class="col-lg-10 col-xl-8">
						<div class="section-title title-01 mb-80">

							<!-- Title -->
							<h2 class="h2-md">Simple & Affordable Pricing</h2>

							<!-- Text -->
							<p class="p-xl">Our plans were designed to support every kind of user to make sure that
								everyone gets to make ise of this tool. We are always happy to receive donations too!
								They go towards making this a better tool.
							</p>

						</div>
					</div>
				</div>


				<!-- PRICING TABLES -->
				<div class="pricing-3-row pc-20">
					<div class="row row-cols-1 row-cols-md-3">


						<!-- BASIC PLAN -->
						<div class="col">
							<div class="pricing-3-table bg-white mb-40 wow fadeInUp">

								<!-- Plan Price  -->
								<div class="pricing-plan">
									<h6 class="h6-xl">Free</h6>
									<sup class="dark-color">$</sup>
									<span class="price dark-color">0</span>
									<p class="p-lg">Forever</p>
								</div>

								<!-- Plan Features  -->
								<ul class="features">
									<li>
										<p class="p-md"><span>10</span> clip history</p>
									</li>
									<li>
										<p class="p-md"><span>2</span> devices</p>
									</li>
									<li>
										<p class="p-md">No Smart Scanner</p>
									</li>
									<li>
										<p class="p-md">No Web Access</p>
									</li>
									<li>
										<p class="p-md">You'll see some ads</p>
									</li>
									<li>
										<p class="p-md">No Usage Analytics</p>
									</li>
									<li>
										<p class="p-md">Free Support</p>
									</li>
								</ul>

								<!-- Pricing Plan Button -->
								<a href="/dashboard" class="btn btn-tra-grey tra-violet-red-hover">Get Started</a>

							</div>
						</div> <!-- END BASIC PLAN -->


						<!-- ADVANCED PLAN -->
						<div class="col">
							<div class="pricing-3-table bg-white rel mb-40 wow fadeInUp">

								<!-- Hightlight Badge -->
								<div class="badge-wrapper">
									<div class="highlight-badge bg-violet-red white-color"
										style="background-color: #66BB00;">
										<h6 class="h6-md">Most Popular</h6>
									</div>
								</div>

								<!-- Plan Price  -->
								<div class="pricing-plan">
									<h6 class="h6-xl">Basic</h6>
									<sup class="dark-color">$</sup>
									<span class="price dark-color">2</span>
									<sup class="coins dark-color">99</sup>
									<p class="p-lg">Monthly</p>
								</div>

								<!-- Plan Features  -->
								<ul class="features">
									<li>
										<p class="p-md"><span>50</span> clip history</p>
									</li>
									<li>
										<p class="p-md"><span>3</span> devices</p>
									</li>
									<li>
										<p class="p-md">Smart Scanner</p>
									</li>
									<li>
										<p class="p-md">Access on web</p>
									</li>
									<li>
										<p class="p-md">No ads</p>
									</li>
									<li>
										<p class="p-md">Usage analytics</p>
									</li>
									<li>
										<p class="p-md">Free Support</p>
									</li>
								</ul>

								<!-- Pricing Plan Button -->
								<!-- <form action="subscribe/create-checkout-session" method="POST">
									<input type="hidden" name="lookup_key" value="basic1234567890plan##" />
									<input type="hidden" name="product_id" value="prod_LiHmDIeL6bzfNt" />  
									<button id="checkout-and-portal-button" type="submit" class="btn btn-violet-red tra-grey-hover"
									style=" background-color: #66BB00; border-color: #66BB00 !important; ">Get
									Started</button>
								</form> -->
								<a href="/dashboard" class="btn btn-tra-grey tra-violet-red-hover">Get Started</a>

							</div>
						</div> <!-- END ADVANCED PLAN -->


						<!-- PREMIUM PLAN -->
						<div class="col">
							<div class="pricing-3-table bg-white mb-40 wow fadeInUp">

								<!-- Plan Price  -->
								<div class="pricing-plan">
									<h6 class="h6-xl">Premium</h6>
									<sup class="dark-color">$</sup>
									<span class="price dark-color">4</span>
									<sup class="coins dark-color">99</sup>
									<p class="p-lg">Monthly</p>
								</div>

								<!-- Plan Features  -->
								<ul class="features">
									<li>
										<p class="p-md"><span>UNLIMITED</span> clip history</p>
									</li>
									<li>
										<p class="p-md"><span>UNLIMITED</span> devices</p>
									</li>
									<li>
										<p class="p-md">Smart Scanner</p>
									</li>
									<li>
										<p class="p-md">Access on web</p>
									</li>
									<li>
										<p class="p-md">No ads</p>
									</li>
									<li>
										<p class="p-md">Usage analytics</p>
									</li>
									<li>
										<p class="p-md">Free Support</p>
									</li>
								</ul>

								<!-- Pricing Plan Button -->
								<!-- <form action="subscribe/create-checkout-session" method="POST">
									<input type="hidden" name="lookup_key" value="premium1234567890plan##" />
									<input type="hidden" name="product_id" value="prod_LiHnaXqoC7AGwl" /> 
									<button id="checkout-and-portal-button" type="submit" class="btn btn-violet-red tra-grey-hover"
									style=" background-color: #66BB00; border-color: #66BB00 !important; ">Get
									Started</button>
								</form> -->
								<a href="/dashboard" class="btn btn-tra-grey tra-violet-red-hover">Get Started</a>

							</div>
						</div> <!-- END PREMIUM PLAN -->


					</div>
				</div> <!-- END PRICING TABLES -->


				<!-- PRICING NOTICE TEXT -->
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="pricing-notice text-center mb-40">
							<p>The above prices may change with the introduction of new features in the future. But
								we'll never increase the price without your consent!
							</p>
						</div>
					</div>
				</div>


			</div> <!-- End container -->
		</section> <!-- END PRICING-3 -->

		<!-- FAQs-2
			============================================= -->
		<section id="faq" class="wide-60 faqs-section division">
			<div class="container">


				<!-- SECTION TITLE -->
				<div class="row justify-content-center">
					<div class="col-lg-10 col-xl-8">
						<div class="section-title title-01 mb-80">

							<!-- Title -->
							<h2 class="h2-md">Got Questions? Find them here</h2>

							<!-- Text -->
							<p class="p-xl">Frequently Asked Questions about Magic Copy
							</p>

						</div>
					</div>
				</div>


				<!-- FAQs-2 QUESTIONS -->
				<div class="faqs-2-questions">
					<div class="row row-cols-1 row-cols-lg-2">


						<!-- QUESTIONS HOLDER -->
						<div class="col">
							<div class="questions-holder pr-15">


								<!-- QUESTION #1 -->
								<div class="question wow fadeInUp">

									<!-- Question -->
									<h5 class="h5-md">Is it free?</h5>

									<!-- Answer -->
									<p class="p-lg">Magic Copy has a 100% Free tier with all the important features. If
										you want additional features to make your experience even better, we've got paid
										plans that are extremely affordable
									</p>

								</div>


								<!-- QUESTION #2 -->
								<div class="question wow fadeInUp">

									<!-- Question -->
									<h5 class="h5-md">Is it secure?</h5>

									<!-- Answer -->
									<p class="p-lg">We encrypt your account details and data and use Microsoft Azure to store them securely. We also backup your data in case of any disruption that is naturally expected from any tech service. You are also given 100% control over your data and account and you can delete any/all of it anytime.
									</p>

								</div>


								<!-- QUESTION #3 -->
								<div class="question wow fadeInUp">

									<!-- Question -->
									<h5 class="h5-md">Can I delete my data?</h5>
									<p class="p-lg">You can PURGE your data completely from existence. We have no say in
										this and full control is handed over to you. You can delete your data and/or
										your account completely anytime Instantly.
									</p>

								</div>


							</div>
						</div> <!-- END QUESTIONS HOLDER -->


						<!-- QUESTIONS HOLDER -->
						<div class="col">
							<div class="questions-holder pl-15">


								<!-- QUESTION #4 -->
								<div class="question wow fadeInUp">

									<!-- Question -->
									<h5 class="h5-md">What devices do you support?</h5>

									<!-- Answer -->
									<p class="p-lg">We are available on all the common platforms such as Android, iOS,
										Mac OSX, Windows and Web. We will keep expanding to more platforms such as Linux
										and Chrome OS very soon!
									</p>

								</div>


								<!-- QUESTION #5 -->
								<div class="question wow fadeInUp">

									<!-- Question -->
									<h5 class="h5-md">How do I use it?</h5>

									<!-- Answer -->
									<p class="p-lg">Simply install Magic Copy on all your phones and computers and
										create an account. After that, you can simply copy any text, links (and coming
										soon: files) and paste it on the Magic Copy app. It will be shared with all your
										devices
									</p>


								</div>


								<!-- QUESTION #6 -->
								<div class="question wow fadeInUp">

									<!-- Question -->
									<h5 class="h5-md">I have an issue with my account</h5>
									<p class="p-lg">Don't worry! Reach out to us by creating a support ticket or email
										us at support@magiccopy.app and we will get to you within 1-2 days. We are here
										for you.</p>


								</div>


							</div>
						</div> <!-- END QUESTIONS HOLDER -->


					</div> <!-- End row -->
				</div> <!-- END FAQs-2 QUESTIONS -->


				<!-- MORE QUESTIONS BUTTON -->
				<div class="row">
					<div class="col">
						<div class="more-questions">
							<h5 class="h5-sm">Have more questions? <a href="contact">Get in touch</a></h5>
						</div>
					</div>
				</div>


			</div> <!-- End container -->
		</section> <!-- END FAQs-2 -->



		<!-- FOOTER-3
			============================================= -->
		<footer id="footer-3" class="footer division">
			<div class="container">


				<!-- FOOTER CONTENT -->
				<div class="row">


					<!-- FOOTER INFO -->
					<div class="col-lg-5 col-xl-4">
						<div class="footer-info mb-40">

							<!-- Footer Logo -->
							<img class="footer-logo mb-25" src="https://i.ibb.co/FYL7jYp/magic-copy-app-logo.png"
								alt="footer-logo">

							<!-- Text -->
							<p class="p-md">Magic Copy makes it easy for you to manage all your favorite text and links
								and share them across any of your devices or online
							</p>

						</div>
					</div>


					<!-- FOOTER LINKS -->
					<div class="col-sm-4 col-lg-2 col-xl-2 offset-xl-2">
						<div class="footer-links mb-40">

							<!-- Title -->
							<h6 class="h6-xl">About</h6>

							<!-- Footer Links -->
							<ul class="foo-links text-secondary clearfix">
								<li>
									<p class="p-md"><a href="contact">Contact Us</a></p>
								</li>
							</ul>

						</div>
					</div>



					<!-- FOOTER LINKS -->
					<div class="col-sm-4 col-lg-2">
						<div class="footer-links mb-40">

							<!-- Title -->
							<h6 class="h6-xl">Discover</h6>

							<!-- Footer List -->
							<ul class="foo-links text-secondary clearfix">
								<li>
									<p class="p-md"><a href="/#pricing">Plans & Pricing</a></p>
								</li>
								<li>
									<p class="p-md"><a href="/#faq">FAQs</a></p>
								</li>
							</ul>

						</div>
					</div>


					<!-- FOOTER LINKS -->
					<div class="col-sm-4 col-lg-3 col-xl-2">
						<div class="footer-links mb-40">

							<!-- Title -->
							<h6 class="h6-xl">Connect With Us</h6>

							<!-- Social Links -->
							<ul class="footer-socials text-secondary ico-25 clearfix">
								<li><a href="https://www.facebook.com/magiccopyapp"><span
											class="flaticon-facebook"></span></a></li>
								<li><a href="https://www.instagram.com/magic.copy"><span
											class="flaticon-instagram"></span></a></li>
							</ul>

						</div>
					</div>


				</div> <!-- END FOOTER CONTENT -->


				<hr>


				<!-- BOTTOM FOOTER -->
				<div class="bottom-footer">
					<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


						<!-- FOOTER COPYRIGHT -->
						<div class="col">
							<div class="footer-copyright">
								<p>Copyright 2018-2022 App360 Software. All Rights Reserved</p>
							</div>
						</div>


						<!-- BOTTOM FOOTER LINKS -->
						<div class="col">
							<ul class="bottom-footer-list text-secondary text-end">
								<li class="first-li">
									<p><a href="data">Data Policy</a></p>
								</li>
								<li class="last-li">
									<p><a href="terms">Terms & Conditions</a></p>
								</li>
							</ul>
						</div>


					</div> <!-- End row -->
				</div> <!-- BOTTOM FOOTER -->


			</div>
		</footer> <!-- FOOTER-3 -->




	</div> <!-- END PAGE CONTENT -->




	<!-- EXTERNAL SCRIPTS
		============================================= -->
	<script src="landing/js/jquery-3.6.0.min.js"></script>
	<script src="landing/js/bootstrap.min.js"></script>
	<script src="landing/js/modernizr.custom.js"></script>
	<script src="landing/js/jquery.easing.js"></script>
	<script src="landing/js/jquery.appear.js"></script>
	<script src="landing/js/jquery.scrollto.js"></script>
	<script src="landing/js/menu.js"></script>
	<script src="landing/js/owl.carousel.min.js"></script>
	<script src="landing/js/jquery.magnific-popup.min.js"></script>
	<script src="landing/js/quick-form.js"></script>
	<script src="landing/js/request-form.js"></script>
	<script src="landing/js/jquery.validate.min.js"></script>
	<script src="landing/js/jquery.ajaxchimp.min.js"></script>
	<script src="landing/js/wow.js"></script>

	<!-- Custom Script -->
	<script src="landing/js/custom.js"></script>

	<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
	<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->



</body>



</html>