

<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8" />
    <title>Magic Copy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Magic Copy makes it easy for you to manage all your favorite text and links and share them across any of your devices or online" />
    <meta name="keywords" content="Universal Clipboard" />
    <meta content="Magic Copy" name="Magic Copy" />
<!-- Favicon-->
    <link rel="shortcut icon" href="/images/new_logo.png" />
<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
<script data-ad-client="ca-pub-4794193283829937" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Custom Css -->
<link rel="stylesheet" href="/assets/css/main.css">    
<link rel="stylesheet" href="/assets/css/color_skins.css">

<!-- Jquery Core Js --> 
<script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 

<script src="/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script> <!-- Bootstrap Notify Plugin Js -->

<script src="/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
<script src="/assets/js/pages/ui/notifications.js"></script> <!-- Custom Js -->

</head>
<body class="theme-black" >
<div class="authentication" style="background-color: white !important;">
    <div class="container">
        <div class="col-md-12 content-center">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="company_detail">
                        <h4 class="logo" style="color: #5aae01; font: 900;"><img src="/assets/images/new_logo.png" alt="" > Magic Copy</h4>
                        <h3 style="color: #5aae01;font-weight: 900;text-transform: uppercase; opacity: 1;letter-spacing: 2px;">A Secure Private<strong> Universal Clipboard </strong></h3>
                        <p  style="color: #2b2b2b; font: 900;">Magic Copy makes it easy for you to manage all your favorite text and links and share them across any of your devices or online</p>                        
                        <div class="footer">
                            <ul  class="social_link list-unstyled"  style="color: #000000; font: 900;">
                                <li><a href="https://thememakker.com" title="ThemeMakker"><i class="zmdi zmdi-globe"></i></a></li>
                                <li><a href="https://themeforest.net/user/thememakker" title="Themeforest"><i class="zmdi zmdi-shield-check"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/thememakker/" title="LinkedIn"><i class="zmdi zmdi-linkedin"></i></a></li>
                                <li><a href="https://www.facebook.com/thememakkerteam" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="http://twitter.com/thememakker" title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                                <li><a href="http://plus.google.com/+thememakker" title="Google plus"><i class="zmdi zmdi-google-plus"></i></a></li>
                                <li><a href="https://www.behance.net/thememakker" title="Behance"><i class="zmdi zmdi-behance"></i></a></li>
                            </ul>
                            <hr>
                            <ul  style="color: #000000; font: 900;">
                                <li><a href="http://thememakker.com/contact/" target="_blank">Contact Us</a></li>
                                <li><a href="http://thememakker.com/about/" target="_blank">About Us</a></li>
                                <li><a href="http://thememakker.com/services/" target="_blank">Services</a></li>
                                <li><a href="javascript:void(0);">FAQ</a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-5 col-md-12 offset-lg-1">
                    <div class="card-plain">
                        <div class="header">
                            <h5>Reset Password</h5>
                        </div>
                        <%- include ("includes/messages"); %>
                        <form class="form" action="/auth/resetPassword" role="form" method="POST">
                            <input class="form-control" name="email" hidden value="<%=email %>">
                            <input class="form-control" name="code" hidden value="<%=code %>">
                            <div class="input-group">
                                <input type="password" class="form-control" required placeholder="New Password" name="pass1">
                                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" required placeholder="Confirm Password" name="pass2">
                                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                            </div>
                            <button class="btn btn-primary btn-round btn-block" type="submit" style="background-color: #5aae01 !important;">Reset Password</button>                            
                        </form>
                        <div class="footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4794193283829937" crossorigin="anonymous"></script>
           <!-- ClipBanner -->
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-4794193283829937"
                        data-ad-slot="3403447091"
                        data-ad-format="auto"
                        data-full-width-responsive="true">
                    </ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script>
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
</body>
</html>