<!DOCTYPE html>
<!-- OLMO - Software, App, SaaS & Startup Landing Pages Pack design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">


<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="Magic Copy" />
	<meta name="description" content="Terms and Conditions of Magic Copy usage" />
	<meta name="keywords"
		content="magic copy, magic copy app, magic copy, universal clipboard, clipboard manager, clipboard manager app, cross platform copy app, copy from pc to mobile, copy from mobile to pc, airdroid, pushbullet, push bullet, copy from device to device">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- SITE TITLE -->
	<title>Terms & Privacy - Magic Copy</title>

	<!-- FAVICON AND TOUCH ICONS -->
	<link rel="shortcut icon" href="landing/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="landing/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="152x152" href="landing/images/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="120x120" href="landing/images/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="landing/images/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" href="landing/images/apple-touch-icon.png">
	<link rel="icon" href="landing/images/apple-touch-icon.png" type="image/x-icon">

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">

	<!-- BOOTSTRAP CSS -->
	<link href="landing/css/bootstrap.min.css" rel="stylesheet">

	<!-- FONT ICONS -->
	<link href="landing/css/flaticon.css" rel="stylesheet">

	<!-- PLUGINS STYLESHEET -->
	<link href="landing/css/menu.css" rel="stylesheet">
	<link id="effect" href="landing/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
	<link href="landing/css/magnific-popup.css" rel="stylesheet">
	<link href="landing/css/owl.carousel.min.css" rel="stylesheet">
	<link href="landing/css/owl.theme.default.min.css" rel="stylesheet">

	<!-- ON SCROLL ANIMATION -->
	<link href="landing/css/animate.css" rel="stylesheet">

	<!-- TEMPLATE CSS -->
	<link href="landing/css/style.css" rel="stylesheet">

	<!-- RESPONSIVE CSS -->
	<link href="landing/css/responsive.css" rel="stylesheet">

</head>



<body>

	<!-- PAGE CONTENT
		============================================= -->
	<div id="page" class="page">




		<!-- HEADER
			============================================= -->
		<header id="header" class="header white-menu navbar-dark">
			<div class="header-wrapper">


				<!-- MOBILE HEADER -->
				<div class="wsmobileheader clearfix">
					<span class="smllogo"><img src="https://i.ibb.co/g716Yqc/magic-copy-app-logo.png"
							alt="mobile-logo" /></span>
					<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
				</div>


				<!-- NAVIGATION MENU -->
				<div class="wsmainfull menu clearfix">
					<div class="wsmainwp clearfix">


						<!-- HEADER LOGO -->
						<div class="desktoplogo"><a href="/" class="logo-black"><img
									src="https://i.ibb.co/g716Yqc/magic-copy-app-logo.png" alt="header-logo"></a></div>


						<!-- MAIN MENU -->
						<nav class="wsmenu clearfix">
							<ul class="wsmenu-list nav-skyblue-hover">

                                <!-- SIMPLE NAVIGATION LINK -->
                                <li class="nl-simple" aria-haspopup="true"><a href="/#features">Features</a></li>

                                <li class="nl-simple" aria-haspopup="true"><a href="/#pricing">Pricing</a></li>

                                <!-- SIMPLE NAVIGATION LINK -->
                                <li class="nl-simple" aria-haspopup="true"><a href="/#faq">FAQs</a></li>


                                <li class="nl-simple" aria-haspopup="true">
                                    <a href="/auth/login" class="btn btn-tra-white last-link">Login</a>
                                </li>

                                <!-- HEADER BUTTON -->
                                <li class="nl-simple" aria-haspopup="true">
                                    <a href="/auth/register" class="btn btn-white last-link" style="color: #000">Create
                                        account</a>
                                </li>



							</ul>
						</nav> <!-- END MAIN MENU -->


					</div>
				</div> <!-- END NAVIGATION MENU -->


			</div> <!-- End header-wrapper -->
		</header> <!-- END HEADER -->




		<!-- TERMS & PRIVACY
			============================================= -->
		<section id="terms-page" class="bg-snow wide-70 inner-page-hero terms-section division">
			<div class="container">


				<!-- TERMS CONTENT -->
				<div class="row justify-content-center">
					<div class="col-lg-10">


						<!-- TERMS TITLE -->
						<div class="terms-title text-center">

							<!-- Title -->
							<h2 class="h2-md">Our Terms & Privacy</h2>

							<!-- Text -->
							<p class="p-xl grey-color">Last Modified: December 06, 2021</p>

						</div>


						<!-- DIVIDER LINE -->
						<hr class="divider">


						<!-- TERMS BOX -->
						<div class="terms-box mt-60">

							<!-- Text -->
							<p class="p-lg">Please read these Terms and Conditions ("Terms", "Terms and Conditions")
								carefully before using the https://magiccopy.xyz website (the "Service") operated by
								MagicCopy ("us", "we", or "our").

								Your access to and use of the Service is conditioned on your acceptance of and
								compliance with these Terms. These Terms apply to all visitors, users and others who
								access or use the Service.

								By accessing or using the Service you agree to be bound by these Terms. If you disagree
								with any part of the terms then you may not access the Service. This Terms and
								Conditions agreement for MagicCopy is managed by TermsFeed Terms and Conditions
								Generator.
							</p>

							<h5 class="h5-xl">Your data</h5>

							<!-- Text -->
							<p class="p-lg">We store your copied clips on our database to facilitate data sync between
								your devices. We do not access the raw data for any reason. We do not use your data for
								any reason. We do not share your data for any reason. Your data can instantly be hard
								deleted (permanently deleted) at your wish using the 'Clear all clips' option in the
								Magic Copy apps. Once deleted, this data is non-recoverable. You are 100% in control of
								your data and we will provide any extra options to facilitate data control if necessary.
								Contact us if you want any feature.
							</p>

							<h5 class="h5-xl">Account</h5>

							<!-- Text -->
							<p class="p-lg">
								When you create an account with us, you must provide us information that is accurate,
								complete, and current at all times. Failure to do so constitutes a breach of the Terms,
								which may result in immediate termination of your account on our Service.

								You are responsible for safeguarding the password that you use to access the Service and
								for any activities or actions under your password, whether your password is with our
								Service or a third-party service.

								You agree not to disclose your password to any third party. You must notify us
								immediately upon becoming aware of any breach of security or unauthorized use of your
								account.
							</p>

							<h5 class="h5-xl">Links To Other Web Sites
							</h5>

							<p class="p-lg">
								Our Service may contain links to third-party web sites or services that are not owned or
								controlled by MagicCopy.

								MagicCopy has no control over, and assumes no responsibility for, the content, privacy
								policies, or practices of any third party web sites or services. You further acknowledge
								and agree that MagicCopy shall not be responsible or liable, directly or indirectly, for
								any damage or loss caused or alleged to be caused by or in connection with use of or
								reliance on any such content, goods or services available on or through any such web
								sites or services.

								We strongly advise you to read the terms and conditions and privacy policies of any
								third-party web sites or services that you visit.
							</p>

							<h5 class="h5-xl">Termination
							</h5>

							<p class="p-lg">
								We may terminate or suspend access to our Service immediately, without prior notice or
								liability, for any reason whatsoever, including without limitation if you breach the
								Terms.

								All provisions of the Terms which by their nature should survive termination shall
								survive termination, including, without limitation, ownership provisions, warranty
								disclaimers, indemnity and limitations of liability.

								We may terminate or suspend your account immediately, without prior notice or liability,
								for any reason whatsoever, including without limitation if you breach the Terms.

								Upon termination, your right to use the Service will immediately cease. If you wish to
								terminate your account, you may simply discontinue using the Service.

								All provisions of the Terms which by their nature should survive termination shall
								survive termination, including, without limitation, ownership provisions, warranty
								disclaimers, indemnity and limitations of liability.
							</p>

							<h5 class="h5-xl">Governing Law
							</h5>

							<p class="p-lg">
								These Terms shall be governed and construed in accordance with the laws of Sri Lanka,
								without regard to its conflict of law provisions.

								Our failure to enforce any right or provision of these Terms will not be considered a
								waiver of those rights. If any provision of these Terms is held to be invalid or
								unenforceable by a court, the remaining provisions of these Terms will remain in effect.
								These Terms constitute the entire agreement between us regarding our Service, and
								supersede and replace any prior agreements we might have between us regarding the
								Service.
							</p>

							<h5 class="h5-xl">Changes
							</h5>

							<p class="p-lg">
								We reserve the right, at our sole discretion, to modify or replace these Terms at any
								time. If a revision is material we will try to provide at least 30 days notice prior to
								any new terms taking effect. What constitutes a material change will be determined at
								our sole discretion.

								By continuing to access or use our Service after those revisions become effective, you
								agree to be bound by the revised terms. If you do not agree to the new terms, please
								stop using the Service.
							</p>

							<h5 class="h5-xl">Contact Us
							</h5>

							<p class="p-lg">
								If you have any questions about these Terms, please contact us.
							</p>

						</div> <!-- END TERMS BOX -->


					</div> <!-- END TERMS CONTENT -->


				</div> <!-- End row -->
			</div> <!-- End container -->
		</section> <!-- END TERMS & PRIVACY -->


		<!-- FOOTER-1
			============================================= -->
		<footer id="footer-3" class="footer division">
			<div class="container">


				<!-- FOOTER CONTENT -->
				<div class="row">


					<!-- FOOTER INFO -->
					<div class="col-lg-5 col-xl-4">
						<div class="footer-info mb-40">

							<!-- Footer Logo -->
							<img class="footer-logo mb-25" src="https://i.ibb.co/FYL7jYp/magic-copy-app-logo.png"
								alt="footer-logo">

							<!-- Text -->
							<p class="p-md">Magic Copy makes it easy for you to manage all your favorite text and links
								and share them across any of your devices or online
							</p>

						</div>
					</div>


					<!-- FOOTER LINKS -->
					<div class="col-sm-4 col-lg-2 col-xl-2 offset-xl-2">
						<div class="footer-links mb-40">

							<!-- Title -->
							<h6 class="h6-xl">About</h6>

							<!-- Footer Links -->
							<ul class="foo-links text-secondary clearfix">
							
								<li>
									<p class="p-md"><a href="contact">Contact Us</a></p>
								</li>
							</ul>

						</div>
					</div>



					<!-- FOOTER LINKS -->
					<div class="col-sm-4 col-lg-2">
						<div class="footer-links mb-40">

								<!-- Title -->
                                <h6 class="h6-xl">Discover</h6>

                                <!-- Footer List -->
                                <ul class="foo-links text-secondary clearfix">
                                    <li>
                                        <p class="p-md"><a href="/#pricing">Plans & Pricing</a></p>
                                    </li>
                                    <li>
                                        <p class="p-md"><a href="/#faq">FAQs</a></p>
                                    </li>
                                </ul>

						</div>
					</div>


					<!-- FOOTER LINKS -->
					<div class="col-sm-4 col-lg-3 col-xl-2">
						<div class="footer-links mb-40">

							<!-- Title -->
							<h6 class="h6-xl">Connect With Us</h6>

							<!-- Social Links -->
							<ul class="footer-socials text-secondary ico-25 clearfix">
								<li><a href="https://www.facebook.com/magiccopyapp"><span
											class="flaticon-facebook"></span></a></li>
								<li><a href="https://www.instagram.com/magic.copy"><span
											class="flaticon-instagram"></span></a></li>
							</ul>

						</div>
					</div>


				</div> <!-- END FOOTER CONTENT -->


				<hr>


				<!-- BOTTOM FOOTER -->
				<div class="bottom-footer">
					<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


						<!-- FOOTER COPYRIGHT -->
						<div class="col">
							<div class="footer-copyright">
								<p>Copyright 2018-2022 App360 Software. All Rights Reserved</p>
							</div>
						</div>


					
						<!-- BOTTOM FOOTER LINKS -->
						<div class="col">
							<ul class="bottom-footer-list text-secondary text-end">
								<li class="first-li">
									<p><a href="data">Data Policy</a></p>
								</li>
								<li class="last-li">
									<p><a href="terms">Terms & Conditions</a></p>
								</li>
							</ul>
						</div>


					</div> <!-- End row -->
				</div> <!-- BOTTOM FOOTER -->


			</div>
		</footer> <!-- END FOOTER-1 -->




	</div> <!-- END PAGE CONTENT -->




	<!-- EXTERNAL SCRIPTS
		============================================= -->
	<script src="landing/js/jquery-3.6.0.min.js"></script>
	<script src="landing/js/bootstrap.min.js"></script>
	<script src="landing/js/modernizr.custom.js"></script>
	<script src="landing/js/jquery.easing.js"></script>
	<script src="landing/js/jquery.appear.js"></script>
	<script src="landing/js/jquery.scrollto.js"></script>
	<script src="landing/js/menu.js"></script>
	<script src="landing/js/owl.carousel.min.js"></script>
	<script src="landing/js/jquery.magnific-popup.min.js"></script>
	<script src="landing/js/quick-form.js"></script>
	<script src="landing/js/request-form.js"></script>
	<script src="landing/js/jquery.validate.min.js"></script>
	<script src="landing/js/jquery.ajaxchimp.min.js"></script>
	<script src="landing/js/wow.js"></script>

	<!-- Custom Script -->
	<script src="landing/js/custom.js"></script>

	<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
	<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->



</body>



</html>